body {
    width:100%;
    text-align: center;
}

.button {
   margin: 3px;
   width: 10%;
}
.sidelong {
    margin: 3px;
    width: 21%;
}
.vertical {
    margin:3px;
    width:10%;
    height: 500%;
}