body {
    padding:10%;
}
.container {
    margin: auto;
    max-width: 300px;
    min-width: 200px;
}
.display {
    background-color:rgb(192, 184, 184);
    min-height:70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0%;
    text-align: center;
    line-height: 80px;
}
.calculator {
    display:flex;
    flex-wrap:wrap;
    height: 300px;
}
.button {
    background-color:rgba(0, 0, 0, 0.938);
    color: rgb(241, 183, 208);
    width:25%;
    height: 20%;
}
.button:hover{
    border-color: rgb(241, 183, 208);
    border: 3px solid;
}
#all-clear {
    background-color:  rgb(241, 183, 208);
    color: black;
}
#clear {
    background-color:   rgb(241, 183, 208);
    color: black;
}
#zero {
    width:50%; 
    border-bottom-left-radius: 25px  
}
#equal {
    background-color:   rgb(241, 183, 208);
    color: black;
    position:relative;
    top:-60px;
    height: 40%;
    border-bottom-right-radius: 25px
}